################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/.vs
/TestRunnerSandbox/.vs
/TestRunnerSandbox/TestRunner/bin/Debug/net5.0
/TestRunnerSandbox/TestRunner/obj
/TestRunnerSandbox/Tests/bin/Debug/net5.0
/TestRunnerSandbox/Tests/obj
